@tailwind base;
@tailwind components;
@tailwind utilities;

/* Talwind customization */
@layer base {
  body {
    @apply text-black;
  }

  h1 {
    @apply text-2xl font-bold;
  }

  h2 {
    @apply text-2xl font-bold;
  }

  h3 {
    @apply text-xl font-bold;
  }

  h4 {
    @apply text-lg font-bold;
  }

  h5 {
    @apply text-base font-bold;
  }

  h6 {
    @apply text-sm font-bold;
  }

  p {
    @apply text-lg leading-9;
  }

  ul {
    @apply list-disc list-inside;
  }

  ol {
    @apply list-decimal list-inside;
  }

  img {
    @apply max-w-full h-auto;
  }

  table {
    @apply w-full text-left table-auto;
  }

  th {
    @apply py-3.5 px-4 text-left text-xs font-bold text-black uppercase tracking-widest border-b-2 border-slate-200;
  }

  td {
    @apply py-4 px-4 whitespace-nowrap text-sm text-black;
  }

  input[type="range"] {
    /* Customizing the slider thumb */
    &::-webkit-slider-thumb {
      @apply -mt-1  h-8 bg-blue-500 rounded-full cursor-pointer border border-transparent;
      -webkit-appearance: none; /* Override default CSS styles */
    }

    &::-moz-range-thumb {
      @apply -mt-1 h-8 bg-blue-500 rounded-full cursor-pointer border border-transparent;
    }

    &::-ms-thumb {
      @apply -mt-1 h-8 bg-blue-500 rounded-full cursor-pointer border border-transparent;
    }

    /* Customizing the slider track */
    &::-webkit-slider-runnable-track {
      @apply h-2 bg-gray-200 rounded;
      -webkit-appearance: none; /* Override default CSS styles */
    }

    &::-moz-range-track {
      @apply h-2 bg-gray-200 rounded;
    }

    &::-ms-track {
      @apply h-2 bg-gray-200 rounded;
    }

    &:focus {
      outline: none;
      &::-webkit-slider-thumb {
        @apply bg-blue-600;
      }

      &::-moz-range-thumb {
        @apply bg-blue-600;
      }

      &::-ms-thumb {
        @apply bg-blue-600;
      }
    }
  }

}

/* Regular CSS for every second td */
tr:nth-child(even) {
  background-color: #F2F5F9;
}
